{% extends "base.html" %}

{% block title %}Home - Ru'ya Horizons{% endblock %}

{% block content %}

<section class="hero-section ">
    <div class="container">
        <h1>Ru'ya Horizons</h1>
        <p>Discover breathtaking treks, connect with expert guides, and embark on your next great adventure.</p>
        <a href="{{ url_for('login') }}" class="btn btn-light">Login</a>
        <a href="{{ url_for('register') }}" class="btn btn-outline-light">Register</a>
    </div>
</section>

{% endblock %}