{% extends "base.html" %}
{% block title %}Trekking History - Ru'ya Horizons{% endblock %}

{% block content %}
<div class="container my-4">
    <div class="row">
        {% include "user_sidebar.html" %}

        <div class="col-md-9 col-lg-10">
            <h2 class="page-heading">Trekking History</h2>

            {% if completed_bookings %}
            <table class="table table-bordered mt-3">
                <thead>
                    <tr>
                        <th>Trek Name</th>
                        <th>Trek Dates</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for booking in completed_bookings %}
                    <tr>
                        <td>{{ booking.trek.name }}</td>
                        <td>{{ booking.trek.start_date.strftime('%d %b %Y') }} - {{ booking.trek.end_date.strftime('%d %b %Y') }}</td>
                        <td>{{ booking.status }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p class="mt-3">No completed treks yet.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}