<div class="col-md-3 col-lg-2">
    <div class="list-group">
        <a href="{{ url_for('user_dashboard') }}" class="list-group-item list-group-item-action">Dashboard</a>
        <a href="{{ url_for('user_my_bookings') }}" class="list-group-item list-group-item-action">My Bookings</a>
        <a href="{{ url_for('user_trekking_history') }}" class="list-group-item list-group-item-action">Trekking History</a>
        <a href="{{ url_for('user_profile') }}" class="list-group-item list-group-item-action">Profile</a>
    </div>
</div>